body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#top-bar {
    display: flex;
    height: 7vh;
    padding: 0 7vw;
}

#logo-img img {
    height: 95%;
    padding: 0;
}

#menu ul {
    display: flex;
    height: 7vh;
    list-style-type: none;
    margin: auto 0;
    position: absolute;
    right: 7vw;
}

#menu ul li {
    margin: auto 0;
    padding: 0;
}

#menu ul li a {
    background-color: #e7e7e7;
    border-radius: 5rem;
    color: #000;
    padding: 0.7rem;
    margin: auto 0.7rem;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #222;
    color: #fff;
}