body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#top-bar {
    display: flex;
    height: 7vh;
    padding: 0 7vw;
}

#logo-img img {
    width:  25%;
}

#profile-pic {
    border-radius: 50%;
    height: 2rem;
    margin: auto;
    padding: 0;
}

#profile-name {
    font-size: 1.2rem;
    margin: auto 0 auto 1rem;
    text-align: center;
}

#right-arrow-profile {
    border-radius: 50%;
    width:  10%;
    height: 1.5em;
    float: right;
    margin: auto;
    padding: 0;
}

#account-button-div{
    display: flex;
}