#outer-form {
    background-image: url(../images/background-house2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 81vh;
    margin: 0 auto;
    padding: 5vh 7vw;
}

#search_form {
    background: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 35rem;
}

#city, #n-guests {
    border: black 0.05rem solid;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0.3rem;
    width: 28.3rem;
}

#city {
    background-image: url(../images/bed.jpg);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#date-in, #date-out {
    border: black 0.05rem solid;
    float: left;
    font-size: 1.2rem;
    height: 2.5rem;
    margin:0;
    padding: 0.3rem;
    text-align: center;
    width: 13.55rem;
}

#date-in {
    margin-right: 0.5rem;
}

#n-guests {
    background-image: url(../images/guests.png);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#price-range {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#range-slider {
    display: flex;
    height: 1rem;
    justify-content: center;
}

#price-range input {
    cursor: ew-resize;
    flex: 1 0 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

#price-range input::-webkit-slider-thumb {
    padding: 0;
}

#range-values {
    text-align: center;
}
