body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#login_body {
    background-color: #EBEBEB;   
}

#signup_body {
    background-color: #3B3B3B;
}

#login_menu ul {
    display: flex;
    height: 7vh;
    list-style-type: none;
    margin: auto 0;
    position: absolute;
    right: 7vw; 
}
    
#login_menu ul li {
    margin: auto 0;
    padding: 0;
}
    
.nav_button{
    background-color: #EBEBEB;
    color: #000000; 
}
    
.nav_signup{
    background-color: #3B3B3B;
    color: #FFFFFF;
}

.nav_button,
.nav_signup{
    border-radius: 5rem;
    margin: auto 0.7rem;
    padding: 0.7rem;
    text-decoration: none;
}

.nav_button:hover,
.nav_signup:hover{
    border-style: none;
    background-color: #F0653E;
    color: #fff;
}

.register_logo{
    display: block;
    margin: 0 auto;
    padding-top: 6rem;
    width: 30%;
}

#signup_logo{
    padding-top: 7vh;
    height: 7vh;
    width: auto;
}

#login_form,
#signup_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 20em;
}

#outer-sign-up {
    height: 84vh;
}

.input{
    background-color: #FFFFFF ;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    height: 2.5em;
    margin-top: 1rem;
    text-align: center;
    width: 20rem;
}
   
.submit_button{
    border-style: none;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;   
    height: 2em;
    width: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#login_button{
    background-color: #F0653E;
}

#login_button:hover{
    background-color: black;
}



#signup_button{
    margin-top: 1rem;
    text-align: center;
}

#signup_button_input {
    background-color: #FCA918;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.7rem;
}

#signup_button_input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
      