* { font-family: 'Roboto';}
a {text-decoration:none;}
ul{list-style-type: none;}
::placeholder{color: black; opacity: 1;}

body {
    margin: 0;
}

/* Top Bar */
#top-bar {
    grid-area: header;
    background-color: white;
    display: flex;
    position: fixed;
    height: 8vh;
    width: 100%
}

#logo-img img {
    height: 8vh;
    padding-left: 7vw;
}


/* Menu & Menu Buttons */
.menu ul {
    text-align: center;
    display: flex;
    height: 8vh;
    margin: auto 0;
    padding: 0;
    position: absolute;
    right: 7vw;
}

.menu ul li {
    margin: auto 0;
}

.nav_button{
    background-color: #C0C0C0;
    color: #000000;
}

.nav_signup{
    background-color: #3B3B3B;
    color: #FFFFFF;
}

.nav_button,
.nav_signup{
    border-radius: 2vh; 
    font-size: 1rem;
    padding: 1vh 1.5vw;
    margin: 0 0.5vh;
    
}
.nav_button:hover,
.nav_signup:hover{
    background-color: #F0653E;
    color: #fff;
} 

/* LOGGED IN PROFILE BUTTON */

#profile_button{
    align-content: center;
    background-color:transparent;
    font-size: 1rem;
    /* display: grid; */
    /* grid-template-rows:2fr 1fr; */
    /* grid-gap:0.5rem; */
    margin: 1.5vh 0.5rem 0 0.5rem;
}

.dropdown{
    display:flex;
    flex-direction: column;
}

.dropdown * {
    margin-bottom: 0.5vh;
}

.profile {
    align-items: center;
    color:black;
    display:flex;
    height: 5vh;
    padding-bottom: 2vh;
} 


#profile_img{
    border-radius: 50%;
    height: 5vh;
    width:auto;
    margin-right: 0.5rem;
} 

.dropdown a{display: none;} 

#profile_button:hover .dropdown a{display:block;}

/* Login and Sign Up */

.register_logo{
    display: block;
    width: 20vw;
    margin: 0 auto;
    padding-top: 6vh;
    padding-bottom: 1vh;
}

#login_form,
#signup_form {
    display: block;
    margin: 0 auto;
    max-width: 25vw;
    height: 78vh; 
    text-align: center;
}

#login_form .input, #signup_form .input {text-align: center;}

/* Log in */
#login_body {background-color: #EBEBEB;  }

#login_button{background-color: #F0653E;}

#login_button:hover{
    background-color: black;
    cursor: pointer;
}

/* Sign Up */
#signup_body {background-color: #3B3B3B;}
#signup_button{background-color: #FBA104;}

#signup_button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* General inputs */
.input{
    justify-content: center;
    background-color: #FFFFFF ;
    border-style: none;
    border-radius: 2vh;
    width: 20vw;
    height: 1.5vh;
    margin: 0;
    margin-bottom: 1vh;
    padding: 1vw;
    -moz-appearance:textfield;   
}

.submit_button{
    background-color: #F0653E;
    border-style: none;
    border-radius: 2rem;  
    color: white;
    display: block;
    font-size: 1rem;
    height: 2em;
    margin: 0 auto; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.submit_button:hover {
    background-color: #C0C0C0;
    color: black;
    cursor: pointer;
}

/* Home Page Form*/

#outer-form {
    grid-area: content;
    background-image: url(../images/background-house2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    padding: 10vh 7vw;
}

#search-form {
    background: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 35vw;
}

#city, #n-guests {
    border: gray 0.05vw solid;
    font-size: 1.2rem;
    width: 32.9vw;
}

#city {
    background-image: url(../images/bed.jpg);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#n-guests {
    background-image: url(../images/guests.png);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#dates {display: flex;}

#date-in, #date-out {
    border: gray 0.05vw solid;
    font-size: 1.2rem;
    text-align: center;
}

#date-in {margin-right: 01vw;}

#price-range {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1vh;
}

#range-slider {
    display: flex;
    height: 1vh;
    justify-content: center;
}

#price-range input {
    cursor: ew-resize;
    flex: 1 0 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

#price-range input::-webkit-slider-thumb {padding: 0;}

#range-values {
    margin-top: 1vh;
    text-align: center;
}

#search_button{
    background-color: #396687;
    margin-bottom: 1vh;
    cursor: pointer;
}

#search_button:hover{background-color: #000000;}


/* PLACE FORM */
#outer-place-form{
    background-color:#396687;
    color: white;
    height: 80vh;
    padding: 10vh 7vw; 
    text-align: center;
}

#place-form {
    display: block;
    margin: 0 auto;
    max-width: 45vw;
    height: 78vh; 
}

#place-form img{
    height:20vh;
    max-width: 100%;
}

#place-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#place-form .input{
    text-align: center;
}

#place-form select{
    width: 17.5rem;
    height: 2.5rem;
}

#place-name {
    padding: 0.5rem;
    width: 35rem;
}

#place-form textarea{
    height: 12rem;
    padding: 0.5rem;
    resize: none;
    width: 35rem;
}

.input-line {
    display: flex;
    justify-content: space-between;
    width: 36rem;
}

#place-baths, #place-beds{width: 6rem;} 
#place-guests{width: 7rem;}
#place-price{width: 8rem;}

#address-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

#place-lat, #place-long{display:none;}
#place-street{width: 20rem;}
#place-num{width: 2.5rem;}
#place-pcode{width: 7rem;}
#place-city{width: 18rem;}

#place-state{width: 11rem;}
#place-country{width: 8rem;}
#place-region{width: 7rem;}


/* Profile */
.wrapper{
    padding: 8vh 0 0 0;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:2rem;
}

#user-sidebar{
    justify-self: right;
    display:grid;
    grid-template-rows:0.5fr 0.1fr 0.05fr;
    justify-items: center;
}

#user-sidebar > p{font-size:0.75rem;}

#user{justify-self: left;}

#user-sidebar > #profile_pic{
    border-radius: 50%;
    margin: 3vh 0;
}

#user-sidebar > #average_rating {width: 8vw;}

#places{
    display:grid;
    grid-template-columns: 0.25fr 0.25fr;
    grid-gap: 1rem;
}

/* Footer */
footer {
    grid-area: footer;
    bottom: 0;
    position: fixed;
    font-size: 0.75rem;
    text-align: center;
    width:100%;
    color:white;
    padding:0;
}

#black-footer{color:black;}


/* confirm host page */
#confirm-host-wrapper {
    align-items: center;
    background-color: #396687;
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 15vh 7vw;
}

.host-button {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.2rem 0;
    text-align: center;
    width: 10vw;
}

.host-button:hover {
    background-color: #FBA104;
}

#google-address {
    font-size: 1.2rem;
    margin: 2vh 0;
}

#button-line {
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}

/* PROPERTY PAGE  */
#property-page {
    height: 80vh;
    padding: 10vh 7vw;
}

#property-header {
    align-items: center;
    display: flex;
}

#property-header h2 {
    margin: 0;
}

.rating-house-pic {
    height: 1.3rem;
    margin-left: 3vw;
}