* { font-family: 'Roboto';}
a {text-decoration:none;}
ul{list-style-type: none;}
::placeholder{color: black; opacity: 1;}

body {
    margin: 0;
    padding: 0;
}

/* Top Bar */
#top-bar {
    display: flex;
    height: 8vh;
}

#logo-img img {
    height: 8vh;
    padding-left: 7vw;
}


/* Menu & Menu Buttons */
.menu{
    display:flex;
    text-align: center;
}
.menu ul {
    display: flex;
    height: 8vh;
    margin: auto 0;
    padding: 0;
    position: absolute;
    right: 3vw;
}

.menu ul li {
    margin: auto 0;
}

.nav_button{
    background-color: #C0C0C0;
    color: #000000;
}

.nav_signup{
    background-color: #3B3B3B;
    color: #FFFFFF;
}

.nav_button,
.nav_signup{
    border-radius: 5rem; 
    font-size:0.9rem;
    padding: 0.3rem 0.8rem;
    margin: auto 0.5rem;
    
}
.nav_button:hover,
.nav_signup:hover{
    background-color: #F0653E;
    color: #fff;
  
} 

/* LOGGED IN PROFILE BUTTON */

#profile_button{
    background-color: transparent;
    display:inline-block ;
    
}

#profile_button a, 
#profile_button ul{
    margin: 0 auto;
}

.profile {
    display:flex;
    color:black;
} 

.profile:hover{
    cursor: pointer; 
}


#profile_img{
    border-radius: 50%;
    width: 47px;
    height: 45px;
    margin-right: 0.5rem;
} 

ul.dropdown {
    display: block;
    margin: 0 auto;
}

.dropdown{
    display:block;
    flex-direction: column; 
}

.dropdown li{
    display: none;
} 

#profile_button:hover .dropdown li {
    margin: 1rem auto;
    display:table;
}  

/* Login and Sign Up */

.register_logo{
    display: block;
    width: 20vw;
    margin: 0 auto;
    padding-top: 6vh;
    padding-bottom: 1vh;
}

#login_form,
#signup_form {
    display: block;
    margin: 0 auto;
    max-width: 20em;
    height: 78vh; 
}


#login_form .input, #signup_form .input {
    text-align: center;
}

/* Log in */
#login_body {
    background-color: #EBEBEB;  
}

#login_button{
    background-color: #F0653E;
}

#login_button:hover{
    background-color: black;
    cursor: pointer;
}

/* Sign Up */
#signup_body {
    background-color: #3B3B3B;
}

#signup_button{
    background-color: #FBA104;
}

#signup_button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* General inputs */
.input{
    justify-content: center;
    background-color: #FFFFFF ;
    border-style: none;
    border-radius: 2rem;
    width: 20rem;
    height: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    -moz-appearance:textfield;
    
}

.submit_button{
    border-style: none;
    border-radius: 2rem;  
    color: white;
    display: block;
    font-size: 1rem;
    height: 2em;
    margin: 0 auto; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}

/* Home Page Form*/

#outer-form {
    background-image: url(../images/background-house2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 79.5vh;
    margin: 0 auto;
    padding: 5vh 7vw;
}

#search-form {
    background: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30rem;
}

#city, #n-guests {
    border: gray 0.05rem solid;
    font-size: 1.2rem;
    width: 29.3rem;
}

#city {
    background-image: url(../images/bed.jpg);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#n-guests {
    background-image: url(../images/guests.png);
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    text-indent: 3rem;
}

#dates {
    display: flex;
}

#date-in, #date-out {
    border: gray 0.05rem solid;
    font-size: 1.2rem;
    text-align: center;
}

#date-in {
    margin-right: 0.5rem;
}


#price-range {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

#range-slider {
    display: flex;
    height: 1rem;
    justify-content: center;
}

#price-range input {
    cursor: ew-resize;
    flex: 1 0 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

#price-range input::-webkit-slider-thumb {
    padding: 0;
}

#range-values {
    margin-top: 0.5rem;
    text-align: center;
}

#search_button{
    background-color: #396687;
    margin-bottom: 0.5rem;
}

#search_button:hover{
    background-color: #000000;
}


/* PLACE FORM */
#place-form-body{
    background-color:#396687;
    text-align: center;
    color: white;
}
#place-form {
    display: block;
    margin: 0 auto;
    max-width: 45em;
    height: 78vh; 
}
#place-form .input{
    text-align: center;
}

#place-form select{
    width: 20rem;
    height: 2.5rem;
    margin: 1rem;
}

#place-form textarea{
    height: 15rem;
    width:40rem;
    resize: none;
}

#place-baths, #place-beds{width: 6rem;} 
#place-guests{width: 7rem;}
#place-price{width: 10rem;}
#place-lat, #place-long{display:none;}
#place-street{width: 25rem;}

#place-num{
    width: 4rem;
}

#place-pcode{
    width: 10rem;
}

/* Footer */
#down-bar {
    bottom: 0;
    display: flex;
    font-size: 1rem;
    height: 1.8vh;
    justify-content: center;
}